on: # yamllint disable-line
  workflow_call:
    inputs:
      devel:
        required: false
        type: boolean
        default: false
      prod:
        required: false
        type: boolean
        default: false
      python_version:
        required: false
        type: string
        default: "3.14"
      shared:
        required: false
        type: boolean
        default: false
      install_pipper:
        required: false
        type: boolean
        default: true

# https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services
permissions:
  # This is required for AWS OIDC credential access.
  id-token: write
  # This is required for actions/checkout.
  contents: read

jobs:
  pipper_publish:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/actions/checkout
    - uses: actions/checkout@v6
    # https://github.com/actions/setup-python
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python_version }}
    # https://github.com/astral-sh/setup-uv
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Install Dependencies
      run: uv sync
    # https://github.com/aws-actions/configure-aws-credentials
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gh-pipper # yamllint disable-line
        aws-region: us-west-2
    - name: Pipper Dependencies
      if: inputs.install_pipper
      run: uv run task pipper_update_all
    - name: Pipper Bundle
      run: uv run task pipper_bundle
    - name: Pipper Publish Devel
      if: inputs.devel
      run: uv run task pipper_publish_devel
    - name: Pipper Shared Publish Devel
      if: inputs.devel && inputs.shared
      run: uv run task pipper_shared_publish_devel
    - name: Pipper Publish Prod
      if: inputs.prod
      run: uv run task pipper_publish
    - name: Pipper Shared Publish Prod
      if: inputs.prod && inputs.shared
      run: uv run task pipper_shared_publish
