# yamllint disable rule:line-length

on: # yamllint disable-line
  workflow_call:
    inputs:
      prod:
        type: string
        default: skip
      devel:
        type: string
        default: skip

# https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services
permissions:
  # This is required for AWS OIDC credential access.
  id-token: write
  # This is required for actions/checkout.
  contents: read

env:
  AWS_DEFAULT_REGION: us-west-2
  TF_IN_AUTOMATION: "1"

jobs:
  terraform_devel:
    if: ${{ inputs.devel != 'skip' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: hashicorp/setup-terraform@v3
    - name: Terraform Version
      run: terraform version
    - name: Terraform Check
      run: terraform fmt --check --recursive --diff ./terraform
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gh-aws-read
        aws-region: us-west-2
    - name: Init
      run: |
        cd ./terraform
        terraform init --upgrade
    - name: Plan
      run: |
        cd ./terraform
        terraform workspace select --or-create devel
        terraform plan \
          --var-file=terraform.tfvars \
          --var-file=workspace-devel.tfvars \
          --lock=false \
          --input=false \
          --out=devel.plan
    # https://docs.gitlab.com/ee/user/infrastructure/iac/mr_integration.html
    # https://docs.gitlab.com/ee/user/infrastructure/iac/mr_integration.html#multiple-terraform-plan-reports
    - name: Report Plan
      run: |
        cd ./terraform
        terraform show --json ./devel.plan | jq -r '([.resource_changes[]?.change.actions?]|flatten)|{"create":(map(select(.=="create"))|length),"update":(map(select(.=="update"))|length),"delete":(map(select(.=="delete"))|length)}' > ../devel_plan_report.json
        cd ..
    # https://github.com/actions/upload-artifact
    - name: Archive plan
      uses: actions/upload-artifact@v4
      with:
        name: devel-plan-report
        path: devel_plan_report.json
    - if: ${{ inputs.devel == 'apply' }}
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gh-aws-read-write
        aws-region: us-west-2
    - name: Apply
      if: ${{ inputs.devel == 'apply' }}
      run: |
        cd ./terraform
        terraform apply ./devel.plan

  terraform_prod:
    if: ${{ inputs.prod != 'skip' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: hashicorp/setup-terraform@v3
    - name: Terraform Version
      run: terraform version
    - name: Terraform Check
      run: terraform fmt --check --recursive --diff ./terraform
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gh-aws-read
        aws-region: us-west-2
    - name: Init
      run: |
        cd ./terraform
        terraform init --upgrade
    - name: Plan
      run: |
        cd ./terraform
        terraform workspace select --or-create prod
        terraform plan \
          --var-file=terraform.tfvars \
          --var-file=workspace-prod.tfvars \
          --lock=false \
          --input=false \
          --out=prod.plan
    # https://docs.gitlab.com/ee/user/infrastructure/iac/mr_integration.html
    # https://docs.gitlab.com/ee/user/infrastructure/iac/mr_integration.html#multiple-terraform-plan-reports
    - name: Report Plan
      run: |
        cd ./terraform
        terraform show --json ./prod.plan | jq -r '([.resource_changes[]?.change.actions?]|flatten)|{"create":(map(select(.=="create"))|length),"update":(map(select(.=="update"))|length),"delete":(map(select(.=="delete"))|length)}' > ../prod_plan_report.json
        cd ..
    # https://github.com/actions/upload-artifact
    - name: Archive plan
      uses: actions/upload-artifact@v4
      with:
        name: prod-plan-report
        path: prod_plan_report.json
    - if: ${{ inputs.prod == 'apply' }}
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gh-aws-read-write
        aws-region: us-west-2
    - name: Apply
      if: ${{ inputs.prod == 'apply' }}
      run: |
        cd ./terraform
        terraform apply ./prod.plan
