name: check_python

on: # yamllint disable-line
  workflow_call:
    inputs:
      python_version:
        type: string
        required: false
        default: "3.14"

jobs:
  yaml_check:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/actions/checkout
    - uses: actions/checkout@v4
    # https://github.com/actions/setup-python
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python_version }}
    - name: Install
      run: pip install yamllint
    - name: Configure
      run: |
        if [ ! -f .yamllint.yaml ]; then
          curl https://raw.githubusercontent.com/camber-ops/workflows/main/.yamllint.yaml \
          -o .yamllint
        fi
    - name: Yaml Lint
      run: yamllint .
